{% extends "base.html" %}
{% load at_size from images %}
{% load mrkdwn %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}css/coaching.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/comingsoon.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/programs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova+Square|Audiowide|Roboto">
    <script src="{{ STATIC_URL }}js/angular/angular.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular-route/angular-route.min.js"></script>
    <script src="{{ STATIC_URL }}js/ng-scrollbar/dist/ng-scrollbar.min.js"></script>
    <script src="{{ STATIC_URL }}js/convert.js"></script>
    <script src="{{ STATIC_URL }}js/app.js"></script>
{% endblock %}

{% block title %}The Running Corps - Training Programs{% endblock %}

{% block content %}
    {% verbatim %}
    <div class="about-paragraph black-bg ng-cloak" ng-app="training" ng-controller="window.planDetailController">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3"><p class="gray">Before we can develop your training program, we need
                some more information.</p>

                <form role="form" name="planDetailForm">
                    <div class="form-group"><label class="blue">Age</label><input type="number" name="age"
                                                                                  ng-model="age" min="0" max="80"
                                                                                  required="required"
                                                                                  class="form-control"/>

                        <div ng-show="planDetailForm.age.$dirty && planDetailForm.age.$invalid"><span
                                ng-show="planDetailForm.age.$error.required"
                                class="orange">You must enter your age.</span><span
                                ng-show="planDetailForm.age.$error.number" class="orange">Your age must be a single number.</span><span
                                ng-show="planDetailForm.age.$error.min" class="orange">Running before you are born is not recommended.</span><span
                                ng-show="planDetailForm.age.$error.max" class="orange">These programs are not appropriate for runners over age 80.</span>
                        </div>
                    </div>
                    <div class="form-group"><label class="blue">Gender</label><input ng-model="gender"
                                                                                     class="form-control"/></div>
                    <div class="form-group"><label class="blue">Current Weekly Mileage</label><input type="number"
                                                                                                     name="currentMileage"
                                                                                                     ng-model="currentMileage"
                                                                                                     min="0" max="150"
                                                                                                     required="required"
                                                                                                     class="form-control"/>

                        <div ng-show="planDetailForm.currentMileage.$dirty && planDetailForm.currentMileage.$invalid">
                            <span ng-show="planDetailForm.currentMileage.$error.required" class="orange">You must enter your current mileage as a single number, ie 15 or 75.</span><span
                                ng-show="planDetailForm.currentMileage.$error.number" class="orange">You must enter your current mileage as a single number, ie 15 or 75.</span><span
                                ng-show="planDetailForm.currentMileage.$error.min" class="orange">Running backwards is not part of the program. Please enter positive mileage.</span><span
                                ng-show="planDetailForm.currentMileage.$error.max" class="orange">These programs do not accomodate mileage over 150.</span>
                        </div>
                    </div>
                    <div class="form-group"><label class="blue">Goal Weekly Mileage</label><input type="number"
                                                                                                  name="goalMileage"
                                                                                                  ng-model="goalMileage"
                                                                                                  min="0" max="150"
                                                                                                  required="required"
                                                                                                  class="form-control"/>

                        <div ng-show="planDetailForm.goalMileage.$dirty && planDetailForm.goalMileage.$invalid">
                            <span ng-show="planDetailForm.goalMileage.$error.required" class="orange">You must enter your goal mileage as a single number, ie 15 or 75.</span><span
                                ng-show="planDetailForm.goalMileage.$error.number" class="orange">You must enter your current mileage as a single number, ie 15 or 75.</span><span
                                ng-show="planDetailForm.goalMileage.$error.min" class="orange">Running backwards is not part of the program. Please enter positive mileage.</span><span
                                ng-show="planDetailForm.goalMileage.$error.max" class="orange">These programs do not accomodate mileage over 150.</span>
                        </div>
                    </div>
                    <div class="form-group"><input type="checkbox" ng-model="no5k"/><label class="blue">&nbsp I don't
                        have a 5k time.</label></div>
                    <div ng-show="no5k" class="form-group"><label class="blue">Race</label><select ng-model="raceType"
                                                                                                   name="raceType"
                                                                                                   ng-required="no5k"
                                                                                                   ng-options="type.name for type in raceTypes"
                                                                                                   class="form-control"></select>

                        <div ng-show="planDetailForm.raceType.$dirty && planDetailForm.raceType.$invalid"><span
                                ng-show="planDetailForm.raceType.$error.required" class="orange">If you don't have a 5k time, you must pick another race time</span>
                        </div>
                    </div>
                    <div class="form-group"><label ng-if="!no5k" class="blue">Current 5K Time (within 6
                        months)</label><label ng-if="no5k" class="blue">Current {{(raceType || {name:""}).name }}
                        Time</label><input type="text" name="currentTime" ng-model="currentTime" race-time="race-time"
                                           max-race-time="14399" required="required" class="form-control"/>

                        <div ng-show="planDetailForm.currentTime.$dirty && planDetailForm.currentTime.$invalid">
                            <span ng-show="planDetailForm.currentTime.$error.required" class="orange">Please enter a current time</span><span
                                ng-show="planDetailForm.currentTime.$error.raceTime && !planDetailForm.currentTime.$error.required"
                                class="orange">Please enter a single time in race format, ie 2:10:00 or 10:00</span><span
                                ng-show="planDetailForm.currentTime.$error.maxRaceTime && !planDetailForm.currentTime.$error.required"
                                class="orange">Please enter a time less than 4 hours</span></div>
                    </div>
                    <div class="form-group"><label ng-if="!no5k" class="blue">Goal 5K Time</label><label ng-if="no5k"
                                                                                                         class="blue">Goal
                        {{(raceType || {name:""}).name }} Time</label><input type="text" name="goalTime"
                                                                             ng-model="goalTime" race-time="race-time"
                                                                             max-race-time="14399" required="required"
                                                                             class="form-control"/>

                        <div ng-show="planDetailForm.goalTime.$dirty && planDetailForm.goalTime.$invalid"><span
                                ng-show="planDetailForm.goalTime.$error.required" class="orange">Please enter a goal time</span><span
                                ng-show="planDetailForm.goalTime.$error.maxRaceTime && !planDetailForm.goalTime.$error.required"
                                class="orange">Please enter a time less than 4 hours</span><span
                                ng-show="planDetailForm.goalTime.$error.raceTime && !planDetailForm.goalTime.$error.required"
                                class="orange">Please enter a single time in race format, ie 2:10:00 or 10:00</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endverbatim %}
        <div ng-show="planDetailForm.$valid">
            <div class="waiverButton" ng-click="showWaiver = true">Checkout with PayPal</div>
        </div>

        <div id="whiteout" ng-show="showWaiver">

        </div>
        <div id="full-disclaimer" ng-show="showWaiver">
            <h2 class="text-center gray">Waiver</h2>

            <p>
                I hereby certify that I am in good condition and am able to safely participate in a challenging running
                program, that I have the requisite skills, qualifications, physical ability, and prior training
                necessary
                for the safe use of this training program. I hereby release The Running Corps and its staff from
                responsibility for any injuries or damages I may suffer as a result of my participation in this training
                program, and I agree not to sue The Running Corps or its staff on account of or in conjunction with any
                claims, causes of action, injuries, damage, cost of expenses arising out of participation in the
                training
                program, including those based on death or bodily injury whether or not caused by the actions, omissions
                or
                other fault of the parties being released. I understand and acknowledge this training program involves
                risks
                such as, but not limited to, the following which might result from the activity itself, from the acts of
                others, from the use of training facilities (including but not limited to public roads, trails, tracks,
                parks, bike paths, beaches, gyms, health clubs, and any place that the athlete performs any of the
                suggested
                training), or from the unavailability of emergency medical care: Risk of bodily injury and possible
                death. I
                assume all risks that arise out of the use of this training program, included but not limited to, those
                factors listed above. And I waive the protection afforded by any statue or law in a jurisdiction whose
                purpose, substance, and/or effect is to provide that a general release shall not extend to claims,
                material
                or otherwise which the person giving the release does not know of or suspect at the time of executing
                the
                release. This means, in part, that the undersigned is releasing unknown future claims. I also understand
                that the purchase price for the training program is nonrefundable, and that the program is considered
                complete as delivered and will not be further modified by The Running Corps or its staff.
            </p>

            <div class="spacer-s"></div>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="paypal-form"><input
                    type="hidden" name="cmd" value="_s-xclick"/><input type="hidden" name="hosted_button_id"
                                                                       value="{{ program.paypal_button_id }}"/>
                <input
                        type="hidden"
                        name="on0"
                        value="Training Program ID"/><input
                        type="hidden" name="os0" maxlength="200" ng-value="getPlanID()"/><input type="submit"
                                                                                                value="I Agree"
                                                                                                border="0"
                                                                                                name="submit"
                                                                                                alt="PayPal - The safer, easier way to pay online!"/><img
                        alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                        height="1"/>
            </form>
            <div class="spacer-xs"></div>
            <div class="waiverButton" ng-click="showWaiver = false">I Disagree</div>
        </div>
    </div>
{% endblock %}

